
/* animations */

@-webkit-keyframes enter_page {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes enter_page {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes enter_page {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes enter_page {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#default-content{
  margin-top: 1em;
  font-size: 1.5em;
    -webkit-animation: enter_page 1s;
    -moz-animation:    enter_page 1s;
    -o-animation:      enter_page 1s;
    animation:         enter_page 1s;
}

/* content */


body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    background-color: #aaa;
    color: #eee;
}

/* links */
/*a {
    color: #FF857F;
    text-decoration: none;

    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #CC3B37;
}*/

.color-line{
    -webkit-linear-gradient(left, #3f3d59 0%,#3f3d59 14.28571%,#00bbe4 14.28571%,#00bbe4 28.57143%,#c35391 28.57143%,#c35391 42.85714%,#ed5936 42.85714%,#ed5936 57.14286%,#ffaa26 57.14286%,#ffaa26 71.42857%,#f1ca02 71.42857%,#f1ca02 85.71429%,#a0c546 85.71429%,#a0c546 100%);
}
/*header*/

/*.brand {
  display: inherit;
  font-weight: 700;
  font-size: 3em;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding: 10px 0 10px;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}*/


/*show in big screens?*/
/*.icon-bar{
  display: none;
}*/

/*navbar*/

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
/*
.thumbnail{
  margin:1em;
}

.highlight-font{
    font-family: 'chunkfiveroman', serif;
}*/

/*content*/

/*.readable-content{
    background-color: #eee;
    color: #111;
}

.fat-title{
    font-weight: bold;
    font-size: 2em;
    color: #009933;
}

.border{
    border-width: 3px;
    border-style: solid;
}*/
/*

.about-row {
  background-color: #fff;
  border-color: #8BDFDB;
  border-width: 3px;
  border-style: solid;
  margin-bottom: 1em;
  padding: 1em;
}

.about-row #about-icons{
  text-align: center;
}

.about-row #about-icons i{
  font-size: 2em;
  padding: 1em;
}

.project-image {
  border-color: #555;
  border-width: 1px;
  border-style: solid;
}

.project-description .project-title a{
  font-size: 1.3em;
}

.project-description div.categories{
  font-size:0.8em;
}

#footer-widgets{
  background-color: #f4f4f4;
}

div.footer{
  background-color: #8BDFDB;
  margin-bottom: 0px;
  padding-bottom: 10px;
  color: #fff;
}

*/

@media screen and (min-width: 768px) {
/*
.subtitle{
	text-align: center;
	display: inherit;
}

.brand {
  font-size: 5em;}

.navbar-default {
	background-color: #8BDFDB;
  border: none;
}

.top-divider {
  margin-top: 0;
}

.navbar {
  min-height: 0;
}

.navbar-header {
  display: none;
}

.nav>li>a {
  padding: 35px;
}

.navbar-nav>li{
  text-align: center;
  width: 184px;
}

.navbar-default .navbar-nav>li>a {
  line-height: normal;
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FF857F;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  font-size: 1.25em;
}
*/
}
