body {
    font-family: 'Lato', sans-serif!important;
    font-weight: 300;
    background-color: #f4f4f4;
    color: #666;

}


.jumbotron{
    color: #666;
}


a {
    color: #4cae4c;
    text-decoration: none;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

div.jumbotron.header{
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
    color: #333;
}

a img {
    border: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3e3e3e!important;
}

h1 strong {
    font-weight: 400;
}

.navbar-inverse {
    background-color: #333;
    font-size: 1.5em;
}

.container, .navbar .navbar-collapse {
    text-align: center;
    visibility: visible!important;
}


/* On smaller displays, show the name */

@media (max-width: 768px) {
    .navbar .navbar-collapse {
        visibility: visible!important;
        float: none;
    }
}


.navbar-inverse .navbar-nav > li > a:hover {
    background: #383838;
}

.navbar-inverse .navbar-nav> li > a{
    color: #ddd;
}

.jumbotron .container {

}

#content .container{
    padding: 0;
}

.jumbotron {
    background: transparent;
    text-align: left;
    height: 100%;
}

.navbar .container{
padding: 0;
}

.jumbotron h1, .jumbotron .h1 {
    font-weight: 300;
    margin-bottom: 40px;
}


img.profile {
    max-width: 15em;
    max-height: 15em;
    margin: 2em auto!important;
}

p.custom {
    line-height: 1.5;
    margin-bottom: 2em;
    width: 90%;
}

p.custom-projects {
    line-height: 2.0;
    margin-bottom: 0em;
    padding: 2em 1.5em;
    font-size: 1em;
    border: 0;
    border-top: 1px;
    border-style: solid;
    border-color: #f4f4f4;
    line-height: 1.6em;
    font-size: 1.3em;
}

div.custom-blog-content{
    line-height: 2.0;
    margin-bottom: 0em;
    padding: 2em 1.5em;
    font-size: 0.95em;
    border: 0;
    border-top: 1px;
    border-style: solid;
    border-color: #f4f4f4;
}

div.custom-blog-content p{
    color: #333;
    line-height: 1.6em;
    font-size: 1.3em;
}

.jumbotron#projects, .jumbotron#contact, .jumbotron#about {
    background-color: #f4f4f4;
    margin-bottom: 0;
}


.container.projects {
    padding: 0;
    margin: 0 auto;
}

a.btn {
    text-decoration: none;
    padding: 0.7em 2em;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

a.btn.btn-facebook{
    padding: 0.7em 2.2em;
}


h1.custom {
    font-weight: 700;
    margin-bottom: 1em;
}

h2.custom a:hover {
    text-decoration: none;
    color: #3B95C6;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

h2.custom {
    text-align: center;
}

.row {
    margin: 0px auto 30px auto;
    padding: 0px auto;
}

.btn-xlarge {
    padding: 14px 26px;
    font-size: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 70px;
    text-align: center;
}

.footer {
    background-color: #282828;
    padding: 0.5em;
    font-weight: 300;
    color: #888;
}

a.btn.btn-xlarge {
    padding: 14px 26px!important;
    margin: 10px 0 10px 0;
}

div#content.jumbotron{
    margin:0;
    padding-top: 0;
}

#nav-row {
    margin-bottom: 0;
}

@-webkit-keyframes enter_page {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes enter_page {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes enter_page {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes enter_page {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

div.jumbotron.top-content {
    -webkit-animation: enter_page 1s;
    -moz-animation:    enter_page 1s;
    -o-animation:      enter_page 1s;
    animation:         enter_page 1s;

    margin-top: 0;
    padding-top: 0;
}

.scale-projects {
    -webkit-transition: all .2s ease-in-out;
}
.scale-projects:hover{
    -webkit-transform: scale(1.1); 
}

.thumbnail{
    margin: 1em;
}

div.thumbnail h2{
    font-weight: 700;
}

div.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar .navbar-nav {
display: inline-block;
float: left;

}

.top-header{
    margin-top: 1em;
    font-weight: 700;
    color: #4cae4c!important;
    text-align: left;
}

#left-logo{
    text-align: right;
}

#blog-content{
    text-align: left;
    text-weight:400;
    color: #111;
}

#blog-content h1.custom {
    color: #4cae4c!important;
}

div.share-button{
    display: inline-block;
    float: none;
    font-size: 2em;
    margin-bottom: 1em;
}

div.share-button a{
    text-decoration: none;
    padding: 0.2em 0.8em;
    font-size: 0.6em;
    font-weight: 600;
    margin: 0;

}




@font-face {
    font-family: 'icomoon';
    src:url('./../fonts/icomoon.eot?tn3z02');
    src:url('./../fonts/icomoon.eot?#iefixtn3z02') format('embedded-opentype'),
        url('./../fonts/icomoon.woff?tn3z02') format('woff'),
        url('./../fonts/icomoon.ttf?tn3z02') format('truetype'),
        url('./../fonts/icomoon.svg?tn3z02#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e600";
}
.icon-bug:before {
    content: "\e601";
}
.icon-lab:before {
    content: "\e602";
}
.icon-fire:before {
    content: "\e603";
}
.icon-quill:before {
    content: "\e604";
}
.icon-book:before {
    content: "\e605";
}
