
<section>
	<div>About</div>
	<p>Hi, I’m Conny. I’m studying Software Engineering and love to work on App Development in my free time. <a href="/about/">Learn more about me</a>.
	Have a look around and please don’t hesitate to contact me with any comments, questions, or just to say hello!</p>
</section>

<section>
	<div>Connect</div>
	<p>Twitter, sntisnitenris</p>
</section>

<section>
	<div>Navigate</div>
	<ul>
		<li><a href="">HOME</a></li>
		<li><a href="">BLOG</a></li>
		<li><a href="">PROJECTS</a></li>
		<li><a href="">ABOUT ME</a></li>
	</ul>
</section>

<section>
	<div>Contact Me</div>
	<p>mail</p>
	<p>map</p>
</section>