---
layout: fullscreen
---

<section class="light-section" id="recent_posts">

    <h3>Recent Posts</h3>
    {% include excerpts/recent_posts.html %}
	<div><a href="" class="btn btn-default">View Blog</a></div>

</section>

<section class="light-section" id="recent_projects">
    
    <h3>Recent Projects</h3>
    {% include excerpts/recent_projects.html %}
	<div><a href="" class="btn btn-default">View Projects</a></div>
</section>

<section class="dark-section" id="About the Author">
    
    {% include excerpts/about_excerpt.html %}

</section>	