
<div class="portfolio-item graphic-design {{ project.bgcolor}}">
	<div class="he-wrap tpl6">
	<img src="/assets/posts/{{project.icon}}" alt="">
		<div class="he-view">
			<div class="bg a0" data-animate="fadeIn">
                <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                <p>{{ project.summary }}</p>
                <a data-rel="prettyPhoto" href="/assets/posts/{{project.icon}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                <a href=" {{ project.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
        	</div><!-- he bg -->
		</div><!-- he view -->		
	</div><!-- he wrap -->
</div><!-- end col-12 -->  