

	 <div id="portfoliowrap">
        <h3>LATEST EXPERIMENTS</h3>

        <div class="honeycombs">
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
			<div class="comb">
				<div class="combo-content"><img src="/assets/posts/icons_alarm.svg" />
				</div>
			</div>
	</div>
	 </div><!--/Portfoliowrap -->
	 
	 
