

        <div class="honeycombs">
			    {% assign upperlimit = 6%}
            	{% for project in site.categories['project'] |limit: upperLimit %}

					{% include projects/project_preview_test.html %}

				{% endfor %}

				{% assign upperlimit = 6%}
            	{% for project in site.categories['project'] |limit: upperLimit %}

					{% include projects/project_preview_test.html %}

				{% endfor %}


				{% assign upperlimit = 6%}
            	{% for project in site.categories['project'] |limit: upperLimit %}

					{% include projects/project_preview_test.html %}

				{% endfor %}
		</div>