<!-- *****************************************************************************************************************
     TITLE & CONTENT
     ***************************************************************************************************************** -->

<div class="section-content project-details">
    <div class="{{project.bgcolor}}">
        <div class="inline-block">
                <a href=" {{ project.url }}">
                    <img src="/assets/posts/{{project.icon}}" alt="">
                </a>
        </div>
        <div class="inline-block">
           <a href=" {{ project.url }}">
                <h1>{{ project.title }}</h1>
            </a>
        </div>
    </div>
    <div class="project-detail-content">
        <div class="row">
            <div class="col-md-9">
                <!-- <div class="project-profile"><p>Description</p></div> -->
            <p>
                {{project.content}}
                </p>
            </div>
            <div class="col-md-3 project-profile">
                <!-- <h4><b>Project Profile</b></h4> -->
                <p>Tagged: {% for t in project.tags %} {{t}} {% endfor %} </p>
                {% if project.website %}
                    <p>Website: <a href="{{project.website}}">{{project.website}}</a></p>
                {% endif %}
                <p>Related Posts: {% for r in project.related %} {{r}} {% endfor %} </p>
            </div>
        </div>

    </div>

</div>

