

	 <div id="portfoliowrap">
        <h3>LATEST EXPERIMENTS</h3>

        <div class="portfolio-centered">
            <div class="recentitems portfolio">

            	{% assign upperlimit = 6%}
            	{% for project in site.categories['project'] |limit: upperLimit %}

					{% include projects/project_preview.html %}

				{% endfor %}
<!-- 
	
				{% assign rest = cellindex | mod: 5%}
				{% assign rest = 5 | minus: rest %}

				{% for project in (1..rest) %}

					
				
				{% endfor %} -->

            </div><!-- portfolio -->
        </div><!-- portfolio container -->
	 </div><!--/Portfoliowrap -->
	 
	 
