<div class="magellan-container" data-magellan-expedition="fixed" data-options="destination_threshold:65;throttle_delay:0;" style="">
    <dl class="sub-nav">
        <dd data-magellan-arrival="start" class=""><a href="#start">START</a></dd>
        <dd data-magellan-arrival="recent" class=""><a href="#recent">RECENT</a></dd>
        <dd data-magellan-arrival="work" class=""><a href="#work">PROJECTS</a></dd>
        <dd data-magellan-arrival="about" class=""><a href="#about">ABOUT</a></dd>
        <dd data-magellan-arrival="contact" class=""><a href="#contact">CONTACT</a></dd>
        <dd data-magellan-arrival="blog" class="move-right"><a href="#blog">BLOG</a></dd>
    </dl>
</div>