<div class="menu-font" id="nav">
    
{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}

    <nav class="navbar nav" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-font" href="/index.html">
                    {cr}
                </a>

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="hidden-xs">
                {% include custom/contact_icons.html %}
            </div>
            

            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">

                <ul class="nav navbar-nav">
                    <li><a {% if location == 'index' %}class="active" {% endif %}href="/">HOME</a></li>
                    <li><a {% if location == 'projects' %}class="active" {% endif %}href="/projects/">PROJECTS</a></li>
                    <li><a {% if location == 'blog' %}class="active" {% endif %}href="/blog/">BLOG</a></li>
                    <li class="visible-xs"><a {% if location == 'contact' %}class="active" {% endif %}href="/contact/">CONTACT</a></li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</div>
    
