    <!-- Fixed navbar -->
{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}

<div id="nav-wrap" role="navigation">
  <h3><ul class="nav-list">
            <li {% if location == 'index.html' %} class="active" {% endif %}><a href="/">HOME</a></li>
            <li {% if location == 'blog' %} class="active" {% endif %}><a href="/blog/">BLOG</a></li>
            <li {% if location == 'projects' %} class="active" {% endif %}><a href="/projects/">LAB</a></li>
            <li {% if location == 'about' %} class="active" {% endif %}><a href="/about/">ABOUT</a></li>
  </ul>
</h3>
</div>    
