<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
 <!--    <link rel="stylesheet" href="{{ baseurl }}/css/contentstyle.css">
    <link rel="stylesheet" href="{{ baseurl }}/css/social-buttons.css">
    <link rel="stylesheet" href="{{ baseurl }}/css/font-awesome.css">
    <link rel="stylesheet" href="{{ baseurl }}/css/style.css"> -->
    <link rel="stylesheet" href="{{ baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ baseurl }}/css/mystyle.css">

    <script src="{{ baseurl }}/js/jquery-1.11.0.min.js"></script>
    <script src="{{ baseurl }}/js/bootstrap.min.js"></script>

      <!-- script references -->
    <script src="{{ baseurl }}/js/scripts.js"></script>

</head>
<body>