        <div class="social-sharing">
          <div class="share-button"><a href="http://twitter.com/home?status={{ site.url }}{{page.url}}" role="button" class="btn-twitter">
          	<i class="fa fa-twitter"></i></a></div>

          <div class="share-button"><a href="http://www.facebook.com/sharer/sharer.php?u=={{ site.url }}{{ page.url }}" role="button" class="btn-facebook"><i class="fa fa-facebook"></i></a></div>

          <div class="share-button"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" role="button" class="btn-google-plus"><i class="fa fa-google-plus fa-lg"></i></a></div>

        </div>