		<ul class="nav navbar-nav">
        	<li> <a href="https://twitter.com/connyrehbein"><i class="fa fa-twitter"></i></a></li>

        	<li><a href="http://github.com/connyr"><i class="fa fa-github"></i></a></li>
          
        	<li><a href="http://de.linkedin.com/pub/cornelia-rehbein/39/262/aa5/en"><i class="fa fa-linkedin"></i></a></li>

        	<li><a href="https://www.facebook.com/conny.rehbein"><i class="fa fa-facebook"></i></a></li>
          
        	<li><a href="https://plus.google.com/u/2/+CorneliaRehbein"><i class="fa fa-google-plus"></i></a></li>
        </ul>