        <span class="icon list">
          <a href="https://twitter.com/connyrehbein"><i class="fa fa-twitter"></i></a>
          <a href="http://github.com/connyr"><i class="fa fa-github"></i></a>
          
          <a href="http://de.linkedin.com/pub/cornelia-rehbein/39/262/aa5/en"><i class="fa fa-linkedin"></i></a>
          
          <a href="mailto:contact@connyrehbein.com"><i class="fa fa-envelope-o"></i></a>
          
          <a href="https://www.facebook.com/conny.rehbein"><i class="fa fa-facebook"></i></a>
          
          <a href="https://plus.google.com/u/2/+CorneliaRehbein"><i class="fa fa-google-plus"></i></a>
        </span>