{% include head.html %}
{% include navigation/navigation.html %}

<div class="container-fluid mtb">
<div class="alert alert-warning" role="alert">This Blog is currently under development. Some sites might not work or display correctly yet. Also beware of errors and grammar mistakes</div>

	 	<div class="row">

	 		<! -- SINGLE POST -->
	 		<div class="col-lg-6 col-lg-offset-2">

				{{ content }}

			</div><! --/col-lg-8 -->

	 		{% include navigation/sidebar.html %}

	 	</div><! --/row -->
	 </div><! --/container -->

{% include footer.html %}
