---
permalink: /blog/
layout: default
title: Blog
pagetitle: 'Thoughts and snippets'
---
<div class="container-fluid content-container">
    <!-- Posts -->
    <div class="section-container">
        {% include posts/all_posts.html %}
        <div class="center">
            <!-- paginator links -->
            {% if paginator.total_pages > 1 %}
                <ul class="pagination ">
                    {% if paginator.previous_page %}
                        <li class=""><a href="/blog/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}">Previous</a></li>
                    {% endif %}
                    <li><a {% if paginator.page == 1 %}class="active" {% endif %}href="/blog/">1</a></li>
                    {% for count in (2..paginator.total_pages) %}
                        <li><a {% if paginator.page == count %}class="active" {% endif %}href="/blog/page{{ count }}">{{ count }}</a></li>
                    {% endfor %}
                    {% if paginator.next_page %}
                        <li class=""><a href="/blog/page{{ paginator.next_page }}">Next</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>