	 <div id="blogwrap">
	 	<span>RECENT POSTS</span>

        <div id="iso" class="container">
  			<div id="iso" class="row">	
				{% assign postsPerRow = 3 %}
				{% assign numRows = 2 %}
		
				{% assign upperLimit = postsPerRow | times: numRows %}
 				{% for post in site.categories['blog'] | limit: upperLimit %}
 				
 						{% assign m = forloop.index0|mod:postsPerRow %}
 				  		{% if m == 0 %}
    						<div class="row {{m}}">
  						{% endif %}

  					 	<div class="post col-sm-{{ 12| divided_by:postsPerRow}}">
     						{% include posts/post_preview.html %}
    					</div>

 						{% assign lastindex = postsPerRow | minus: 1%}
 						{% if m == lastindex or forloop.last %}
    						</div>
  						{% endif %}
					
 				{%  endfor %}		
 					
	 		</div>
	 	</div><! --/container -->
	 </div><!--/Portfoliowrap -->