	 <div id="blogwrap">
	 	<h3 class="centered">RECENT POSTS</h3>

	<div class="container-fluid">
		
		<div id="posts">
		
				{% assign upperLimit = 5 %}
 				{% for post in site.categories['blog'] | limit: upperLimit %}
 				
  					 	<div class="post 

							{% if post.isFeaturedClass %}
							{{ post.isFeaturedClass }}
							{% endif %}
  					 	">
     						{% include posts/post_preview.html %}
    					</div>
					
 				{%  endfor %}		

	 	</div>

	 	</div><! --/container -->
	 </div><!--/Portfoliowrap -->
