<div class="row">
			
		<!-- post preview image? -->
			<div class="col-md-2">
				<i class="fa fa-picture-o"></i>
			</div>
		<!-- post preview header -->
			
			<div class="col-md-10">
		    <section>

		    	<!-- date & author -->
				<div class="meta">
					<div><i class="fa fa-calendar"></i>{{ post.date }}</div>
					<div><a href="{{ post.author_url }}"><i class="fa fa-user"></i>  {{ post.author }}</a></div>
					<div><a href="{{ post.comment_url }}"><i class="fa fa-comment"></i>{{ post.comments }} comments</a></div>
		    	</div>

				<!-- headline -->
		    	<h1>
		            <a href="{{ post.url}}">
		            {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
		            </a>
		        </h1>
				
				<!-- post excerpt -->
		    	<div>
		    		<p>{{ post.excerpt | strip_html }}</p>
		    		<a href="" class="btn btn-default">Read More</a>
		    	</div>
		    	
		    </section>
		   </div>   
</div>