<div class="container">
		<div id="posts">
			<div class="post">
				<img src="http:/placehold.it/600x400"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="http:/placehold.it/400x600"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="http:/placehold.it/600x400"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="http:/placehold.it/400x600"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post cs2">
				<img src="http:/placehold.it/600x400"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="http:/placehold.it/400x600"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="http:/placehold.it/600x400"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="http:/placehold.it/400x600"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="http:/placehold.it/600x400"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="http:/placehold.it/400x600"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			<div class="post">
				<img src="http:/placehold.it/600x400"><br>
				<br>
				<strong>Title Goes Here</strong><br>
				<small>Category</small>
			</div>
			
		</div>
	</div>