		<div class="" >
			
		<!-- post preview image? -->

		<!-- post preview header -->

		    	<h1>
		            <a href="{{ post.url}}">
		            {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
		            </a>
		        </h1>

				<div class="meta">
					<time datetime={{ post.date }}><i class="fa fa-calendar"></i></time>
					<div><a href="{{ post.author_url }}"><i class="fa-fa-user"></i>  {{ post.author }}</a></div>
					<a href="{{ post.comment_url }}"></a> {{ post.comments }} comments
		    	</div>
				<div class="banner">
					<img src="/images/blog-1.jpg">
				</div>

		    	<div>
		    		<p>{{ post.excerpt | strip_html }}</p>
		    		<a href="" class="btn btn-default">Read More</a>
		    	</div>
		      
		</div>