<div class="section-content post-single">
    <div class="post-banner">
        <div class="inline-block">
            <a href="{{post.url}}">
                {% if post.banner %}<img class="img-responsive icon-image " src="/assets/posts/{{post.banner}}">
                {% else %}<img class="img-responsive icon-image" src="/assets/posts/{{post.thumbnail}}">
                {% endif %}
            </a>
        </div>
        <div class="post-title inline-block">
            <a href="{{post.url}}">
                <h1 class="white-font">{{post.title}}</h1>
            </a>
        </div>
    </div>

    <div class="post-item-content">

        <div class="post-meta">
            <p>
                <csmall>Posted: {{post.date}}.</csmall>|
                <csmall2>By: {{site.blog_author}} - {{post.comments}} Comments</csmall2>
            </p>
        </div>

        <div class="post-content">
            {{content}}
        </div>

    </div>

</div>
