	 <div id="blogwrap">
	 	<span>RECENT POSTS</span>

	<div class="container">
		
		<div id="posts">


				{% assign postsPerRow = 3 %}
				{% assign numRows = 2 %}
		
				{% assign upperLimit = postsPerRow | times: numRows %}
 				{% for post in site.categories['blog'] | limit: upperLimit %}
 				
  					 	<!-- <div class="post col-sm-{{ 12| divided_by:postsPerRow}}"> -->
  					 	<div class="post">
     						{% include posts/post_preview.html %}
    					</div>
					
 				{%  endfor %}		

	 	</div>

	 	</div><! --/container -->
	 </div><!--/Portfoliowrap -->