<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!DOCTYPE html>

<html lang="en">
    <head>
    <title>connyrehbein | Home</title>
    <meta charset="utf-8">

    <!-- TODO -->

    <!-- <link rel="icon" href="http://dzyngiri.com/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="http://dzyngiri.com/favicon.png" type="image/x-icon" /> -->

    <meta name="description" content="Projects and Thoughts of Conny Rehbein, a german Software Engineer.">
    <meta name="keywords" content="coding, software, developer, engineer, apps">
    <meta name="author" content="Cornelia Rehbein">  

    <!-- stylesheets -->

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/business-casual.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

    <!-- scripts -->
     

    <script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='js/jquery.preloader.js'></"+"script>");}  </script>

  
  <!--Google analytics code-->    
      <script type="text/javascript">
          //  var _gaq = _gaq || [];
          // _gaq.push(['_setAccount', 'UA-29231762-1']);
          // _gaq.push(['_setDomainName', 'dzyngiri.com']);
          // _gaq.push(['_trackPageview']);
        
          // (function() {
          //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          // })();
      </script>
</head>
<body>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->