

<section class="cover-img" 
		data-interchange="	[{{root.url}}/images/winter_small@2x.png, (small)] , 
							[{{root.url}}/images/winter_medium@2x.png, (medium)],
							[{{root.url}}/images/winter_large@2x.png, (large)],
							[{{root.url}}/images/winter_xlarge_up@2x.png, (only screen and (min-width: 1440px))]
		">
	<div class="row">
		


	</div>
</section>

<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
       	<a href="https://github.com/simonwhitaker/github-fork-ribbon-css">Fork me on GitHub</a>
    </div>
</div>

